<div id="page_wrapper">
	<div id="profile_image">
	<%= image_tag "profile.jpeg" %>
	</div>

	<div id="content">
		<h1>What's up, World?</h1>
			<p> This is a blogpost app I created as a trial by fire. Took extremely long with it and the going was really slow, but, well, here we go.! </p>
	</div>		

</div>